<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script, Execute">
            <add 
                name="Python FastCGI" 
                path="*" 
                verb="*" 
                modules="FastCgiModule" 
                scriptProcessor="C:\Progra~1\PYTHON~1\python.exe|C:\Progra~1\PYTHON~1\Lib\SITE-P~1\wfastcgi.py" 
                resourceType="Unspecified" 
                requireAccess="Script"
            />
        </handlers>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="400-999" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>